<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <title>Calc</title>
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <a href="/" style="position: absolute; top: 5; left: 0; margin-left: 1rem"
      >Back Home</a
    >
    <h1 style="text-decoration: underline">My Calculator</h1>
    <div>
      <form
        method="get"
        style="display: flex; flex-direction: column; gap: 0.5rem"
      >
        <label for="val1">Value 1</label>
        <input type="number" name="val1" id="val1" />
        <label for="val2">Value 2</label>
        <input type="number" name="val2" id="val2" />
        <button>Calculate</button>
      </form>
    </div>
    <p>Given Values <%= val1 ? val1 : 0 %> & <%= val2 ? val2 : 0 %></p>
    <table>
      <tr>
        <th>Operator</th>
        <th>Result</th>
      </tr>
      <tr>
        <td>Add</td>
        <td><%= add ? add : 0 %></td>
      </tr>
      <tr>
        <td>Sub</td>
        <td><%= remove ? remove : 0 %></td>
      </tr>
      <tr>
        <td>Multi</td>
        <td><%= multiply ? multiply : 0 %></td>
      </tr>
      <tr>
        <td>Div</td>
        <td><%= divide ? divide : 0 %></td>
      </tr>
    </table>
  </body>
</html>
